{
  "presets": ["@babel/preset-react",  "@babel/preset-env"],
  "plugins": [
    ["module-resolver", {
      "alias": {
        "@boundlessgeo/sdk" : "./src"
      }
    },  "transform-object-rest-spread"]
  ]
}
